---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import GetStarted from "../components/GetStarted.astro";
import Input from "../components/Input.astro";
import Main from "../components/Main.astro";
---

<Layout title="Lux UI Kit">
  <div class="flex justify-center p-0 sm:p-4">
    <div class="sm:w-3/4 w-11/12">
      <Main />
      <GetStarted />
      <Button />
      <Input />
    </div>
  </div>
</Layout>
