---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import GetStarted from "../components/GetStarted.astro";
import Input from "../components/Input.astro";
---

<Layout title="Welcome to Astro.">
  <div class="flex justify-center p-4">
    <div class="w-3/4">
      <h1 class="text-center text-4xl">Lux UI</h1>
      <GetStarted />
      <Button />
      <Input />
    </div>
  </div>
</Layout>
