<div class="p-3">
  <h2 class="text-3xl">Buttons</h2>

  <h3 class="text-2xl p-4">Default</h3>
  <div class="text-center pb-4">
    <lux-button> Default </lux-button>
    <lux-button color="primary"> Primary</lux-button>
    <lux-button color="secondary"> Secondary</lux-button>
    <lux-button color="accent"> Accent</lux-button>
    <lux-button color="danger"> Danger</lux-button>
    <lux-button color="success"> Success</lux-button>
    <lux-button color="warning"> Warning</lux-button>
    <lux-button color="info"> Info</lux-button>
  </div>

  <hr />

  <h3 class="text-2xl p-4">Outline</h3>
  <div class="text-center pb-4">
    <lux-button variant="outline">Outline</lux-button>
    <lux-button variant="outline" color="primary"> Primary</lux-button>
    <lux-button variant="outline" color="secondary"> Secondary</lux-button>
    <lux-button variant="outline" color="accent"> Accent</lux-button>
    <lux-button variant="outline" color="danger"> Danger</lux-button>
    <lux-button variant="outline" color="success"> Success</lux-button>
    <lux-button variant="outline" color="warning"> Warning</lux-button>
    <lux-button variant="outline" color="info"> Info</lux-button>
  </div>
  <hr />

  <h3 class="text-2xl p-4">Flat</h3>
  <div class="text-center pb-4">
    <lux-button variant="flat">Flat</lux-button>
    <lux-button variant="flat" color="primary"> Primary</lux-button>
    <lux-button variant="flat" color="secondary"> Secondary</lux-button>
    <lux-button variant="flat" color="accent"> Accent</lux-button>
    <lux-button variant="flat" color="danger"> Danger</lux-button>
    <lux-button variant="flat" color="success"> Success</lux-button>
    <lux-button variant="flat" color="warning"> Warning</lux-button>
    <lux-button variant="flat" color="info"> Info</lux-button>
  </div>
  <hr />

  <h3 class="text-2xl p-4">Raised</h3>
  <div class="text-center pb-4">
    <lux-button variant="raised">Raised</lux-button>
    <lux-button variant="raised" color="primary"> Primary</lux-button>
    <lux-button variant="raised" color="secondary"> Secondary</lux-button>
    <lux-button variant="raised" color="accent"> Accent</lux-button>
    <lux-button variant="raised" color="danger"> Danger</lux-button>
    <lux-button variant="raised" color="success"> Success</lux-button>
    <lux-button variant="raised" color="warning"> Warning</lux-button>
    <lux-button variant="raised" color="info"> Info</lux-button>
  </div>
</div>
<script>
  import "lux-ui-kit";
</script>
