<div class="p-3">
  <h2 class="text-3xl">Get Started</h2>

  <h3 class="text-2xl p-4">Installation</h3>
  <div class="text-center">
    <pre class="text-sm">npm i lux-ui-kit</pre>
  </div>

  <h3 class="text-2xl p-4">Import</h3>
  <div class="text-center">
    <pre class="text-sm">import "lux-ui-kit";</pre>
  </div>

  <h3 class="text-2xl p-4">Usage</h3>
  <div class="text-center">
    <pre class="text-sm">&lt;lux-button&gt; Default&lt;/lux-button&gt;</pre>
  </div>
</div>
