---
const { id } = Astro.props;
---

<div id={id} class="p-3">
  <h2 class="text-3xl">Get Started</h2>

  <h3 class="text-2xl p-4">Installation</h3>
  <div class="p-4">
    <pre>
      <code class="language-bash"> npm i lux-ui-kit</code>
    </pre>
  </div>

  <h3 class="text-2xl p-4">Import JS/TS</h3>
  <div class="p-4">
    <pre> <code class="language-javascript"> import "lux-ui-kit"; </code> </pre>
  </div>

  <h3 class="text-2xl p-4">Usage</h3>
  <div class="p-4">
    <pre> <code class="language-html"> &lt;lux-button&gt; Default &lt;/lux-button&gt; </code> </pre>
  </div>
</div>

<script>
  import "prismjs";
  import "prismjs/themes/prism.css";
  import "prismjs/components/prism-bash";
</script>

<style></style>
