<div class="pt-10 p-3">
  <h1 class="text-center text-5xl font-bold">Lux UI</h1>
  <p class="pt-6 pb-4 text-center">
    "Revoluciona tu desarrollo con nuestra librería UI <br /> rapidez, elegancia
    y simplicidad en cada componente."
  </p>
  <img class="img-difuminado" src="images/components.png" />
</div>

<style>
  .img-difuminado {
    mask-image: linear-gradient(black 80%, transparent);
  }
</style>
