---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Lux UI Kit Revoluciona tu desarrollo con nuestra librería UI
rapidez, elegancia y simplicidad en cada componente" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  import "@fontsource/outfit";
</script>

<style is:global>
  body {
    font-family: "Outfit", sans-serif;
  }
  pre {
    margin: 0 !important;
    padding: 5px !important;
    height: auto !important;
    display: flex;
    align-items: center;
  }
</style>
